@model SneakPeak.Models.Address

<div  style="background-color:#E3F2FD;padding-top:20px;padding-left:30%;padding-bottom:20px;">
@using (Html.BeginForm("SaveAddress", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 mb-5 mb-md-0 ml-5">
        <h2 style="font-weight:700;color:black;text-align:center">Address Form</h2>
    <div class="form-group row">
            <div class="col-md-12">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Street)
        @Html.TextBoxFor(model => model.Street, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.City)
        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PostalCode)
        @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Country)
        @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone)
        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
        <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <input type="submit" value="Save Address" class="btn btn-primary" />
    </div>
    </div>
}
</div>