<div style="display:none">
    @Model Order
</div>
@{
    ViewData["Title"] = "OrderDetails";
    ViewBag.total = 0;
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Order</strong><span class="mx-2 mb-0">/</span> <strong class="text-black">Details</strong></div>
        </div>
    </div>
</div>
@{
    decimal total = 0;

    <div class="site-section">
        <div class="container">
            <h1 style="text-align:center;font-weight:bold;color:black">ORDER DETAILS</h1>
            <br />
            <div class="row mb-5">

                @if (Model != null && Model.LineItems != null && Model.LineItems.Count > 0)
                {
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>



                                    @foreach (var item in Model.LineItems)
                                    {

                                        <tr>
                                            <td class="product-thumbnail">
                                                <img src="@item.product.ImageUrl" alt="Image" class="img-fluid">
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@item.product.Name</h2>
                                            </td>
                                            <td>@item.product.Price</td>
                                            <td>
                                                @item.Quantity

                                            </td>
                                            <td>
                                                @(
                                                item.Quantity * item.product.Price
                                                    )
                                                @{
                                                    total += item.Quantity * item.product.Price;
                                                }
                                            </td>
                                           
                                        </tr>


                                    }


                                </tbody>
                            </table>
                        </div>
                    </form>
                }
                else
                {
                    <h3>Order is empty, Something went wrong</h3>
                }
            </div>

            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Order Details</h3>
                                </div>
                            </div>
                             <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Order Status</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-green">@Model.OrderStatus</strong>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">$ @total</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">$ @total</strong>
                                </div>
                            </div>

                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}